name: Update database types

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Generate Supabase Database types
      uses: lyqht/generate-supabase-db-types-github-action@v0.0.2
      with:
          SUPABASE_URL: ${{secrets.SUPABASE_URL }}
          SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
          OUTPUT_PATH: src/types/supabase.ts